a.out
*.a
*.6
*.pyc
*~
.settings
*project
*workspace
docs/_*
bin
.idea
dean*
data/vagrant/.vagrant
data/vagrant/vagrant_ansible_inventory_default
data/tutorials/fs_evsock/freeswitch/etc/freeswitch/
vendor
*.test
glide.lock
