[Unit]
Description=Apache Kafka
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/kraft/server.properties
ExecStop={{ kafka_dir }}/bin/kafka-server-stop.sh
User={{ kafka_user }}
Group={{ kafka_group }}
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
Alias=kafka.service