Source: cgrates
Section: base 
Priority: optional
Maintainer: DanB <danb@cgrates.org>
Build-Depends: debhelper, git 
Standards-Version: 3.9.1
Homepage: http://cgrates.org

Package: cgrates
Architecture: amd64
Suggests: git, redis-server, mysql-server
Version: 0.9.1-rc5
Description: Carrier Grade Real-time Charging System
  CGRateS is a very fast and easy scalable real-time charging system for Telecom environments.
