user nginx nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    server {
      listen 80;
      autoindex_localtime on;
      server_name yum.cgrates.org;

      access_log /var/log/nginx/yum.cgrates.org_access.log;
      error_log /var/log/nginx/yum.cgrates.org_error.log;

      root /var/packages;

      location / {
        root /var/packages;
        index index.html;
        autoindex on;
      }
    }
}
