{{ ansible_managed | comment }}
[Unit]
Description=Copr Custom Webhook Server 
ConditionPathExists={{ coprgate_dir }}
After=network.target
[Service]
Environment="V10={{ v10 }}" "MASTER={{ nightly }}"
ExecStart=/usr/local/bin/coprgate
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ service_name }}
[Install]
WantedBy=multi-user.target

