# Rating system designed to be used in VoIP Carriers World
# Copyright (C) 2012  Radu Ioan Fericean
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>

[global]
redis_server = 127.0.0.1:6379 #redis address host:port
redis_db = 10 # redis database number

[rater]
standalone = true # start standalone server (no balancer)
balancer_server = 127.0.0.1:2000 # balancer address host:port
listen_api = 127.0.0.1:1234 # listening address host:port
json = false # use JSON for RPC encoding

[balancer]
enabled = false 
standalone = false # run standalone
listen_rater = 127.0.0.1:2000 # Rater server address 
listen_api = 127.0.0.1:2001 # Json RPC server address
web_status_server = 127.0.0.1:8000 # Web server address (for status)
json = false # use JSON for RPC encoding
