# Rating system designed to be used in VoIP Carriers World
# Copyright (C) 2012  Radu Ioan Fericean
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>

[global]
logdb_type = redis # 
logdb_host = 127.0.0.1:6379 # The host to connect to. Values that start with / are for UNIX domain sockets.
logdb_name = 10 # The name of the database to connect to.
logdb_type = postgres # 
logdb_host = localhost # The host to connect to. Values that start with / are for UNIX domain sockets.
logdb_port = 5432 # The port to bind to.
logdb_name = gosqltest # The name of the database to connect to.
logdb_user =  rif # The user to sign in as.
logdb_passwd =  testus # The user's password.root

[rater]
enabled = true
listen = 127.0.0.1:2001 # listening address host:port, internal for internal communication only
balancer = disabled # if defined it will register to balancer as worker
rpc_encoding = gob # use JSON for RPC encoding

[stats_server]
enabled = true
listen = 127.0.0.1:8000 # Web server address (for stat reports)