# Rating system designed to be used in VoIP Carriers World
# Copyright (C) 2012  Radu Ioan Fericean
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>

[global]
redis_server = 127.0.0.1:6379 #redis address host:port
redis_db = 10 # redis database number
logdb_type = mongo # 
logdb_host = localhost # The host to connect to. Values that start with / are for UNIX domain sockets.
logdb_name = cgrates # The name of the database to connect to.

[session_manager]
enabled = true
rater = internal #address where to access rater. Can be internal, direct rater address or the address of a balancer
freeswitch_server = localhost:8021
freeswitch_pass = ClueCon 
rpc_encoding = gob

[scheduler]
enabled = true
