{{ ansible_managed | comment }}
Origin: apt.cgrates.org
Label: apt.cgrates.org
Suite: stable
Codename: v0.10
Architectures: amd64
Components: main
Description: CGRateS v0.10 APT repository
SignWith: yes
DebOverride: override.testing
DscOverride: override.testing

Origin: apt.cgrates.org
Label: apt.cgrates.org
Suite: nightly
Codename: nightly
Architectures: amd64
Components: main
Description: CGRateS APT Nightly repository
SignWith: yes
DebOverride: override.testing
DscOverride: override.testing
