---
cluster.name: "elasticsearch"
node.name: "{{ inventory_hostname }}"
path.data: "/var/lib/elasticsearch"
path.logs: "/var/log/elasticsearch"
network.host: "127.0.0.1"
http.port: 9200
action.auto_create_index: "true"
xpack.security.enabled: false
xpack.security.transport.ssl.enabled: false
xpack.security.http.ssl.enabled: false
