#!/bin/sh

{# Comment that describes the purpose of the template #}

export GOROOT='{{ golang_install_dir }}'
export PATH=$PATH:$GOROOT/bin

{% if golang_gopath %}
export GOPATH="{{ golang_gopath }}"
export PATH=$PATH:$GOPATH/bin
{% endif %}
